@import "mixins";
@import "veriables";
.footer{
  .content{
    padding-top: 5rem;
    text-align: center;
    h2{
      font-size: 24px;
      font-weight: bold;
      color: $black;
    }
    span{
      font-size: 14px;
    }
  }
}